
// Colors used in the application
$default: #e6e6e6;
$primary: #1890ff;
$primary-hover: #40a9ff;
$secondary: #16a085;
$secondary-hover: #45b39d;
$danger: #f5222d;
$danger-hover:#ff4d4f;

$text-primary: #000;
$text-secondary: #fff;
